@media  screen and (min-width:1280px) {
    .container {
       max-width: 1280px ;
       height: 2000px;
    }
    #starlist li {
        margin-right: 112px !important;
    }
}
@media screen and (max-width:1280px){
    #starlist li {
        margin-right: 60px !important;
    }
}
@media screen and (max-width:992px){
    #starlist li {
        margin-right: 67px !important;
    }
    .webp{
        width: 30% !important;
    }
    .atve{
        width: 70% !important;
    }
}
@media screen and (max-width:768px){
        #starlist li {
            margin-right: 31px !important;
        }
    
} 

@media screen and (max-width:320px){
    nav{
        height: 30px !important;
    }
    #starlist li {
        margin-right: 20px !important;
    }
    .logo {
      margin-bottom: -27px !important;  
    }
}
* {
    margin: 0;
    padding: 0;

}
ul {
    list-style-type: none;
}
body{
    background: url(../images/bj.jpg) no-repeat;
    background-size: 100% 100%;
}
.logo { 
    font-size: 30px; 
    font-weight: bold;
    margin: 60px 25px 25px  25px; 
    text-shadow: 1px 3px 3px #0a6da7, 1px 5px 5px #0a6da7; 
    letter-spacing: .1em;
}
.logo a { 
    color: #fff;
    text-decoration: none; 
}
.logo a:hover{
    color: #129dee;
    text-decoration: underline;
}
nav { 
   height: 60px;
    margin: 45px 0 20px 16px;
}
#starlist li {
    float: left;
    margin-right: 20px;
}
 #starlist li a  {
    
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    text-shadow: #43b1f1 2px 2px 3px;
}
#starlist li a:hover {
    color: #129dee;
    text-decoration: none;
}
.blogs { 
    margin-bottom: 30px ; 
} 
.mycard{
    height: 160px; 
    background: rgba(255,255,255,.8); 
    overflow: hidden; 
    padding: 22px; 
    z-index: 1; 
    border-radius: 3px; 
    margin-bottom: 22px;
}
.mycard img {
    width: 90px;
    height: 60px;
}
.h_title{
    padding-top: 5px;
    font-size: 22px;
}
.isgood_news { 
    border-radius: 3px; 
    background: rgba(255,255,255,.8); 
    padding: 5px 20px 0; 
    font-size: 18px;
    overflow: hidden; 
}
.isgood_news ul { 
    padding: 10px 20px; 
}
.isgood_news li { 
    margin: 24px 0; 
    list-style-type: circle; 
    margin-top: 5px; 
}
 .tiem{
    width: 100%;
    height: 205px;
    position: relative;
    background-color: #fff;
    padding: 20px 7px;
    margin:25px 0;
    border-radius: 5px;
}
.webp{
    width: 200px;
    height: 168px;
}
.webp img{
    width: 100%;
    height: 100%;
}
